body {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    text-align: center;
}

.input-fields {
    font-size: 25px;
    width: 100%;
    max-width: 700px;
    font-family: 'Arial';
}

button:hover {
    opacity: 0.7;
}

.block {
    max-width: auto;
    max-height: 100px;
    position: relative;
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1px 12px;
    font-size: 18px;
}

.space {
    padding-bottom: 48px;
}

.modal {
    width: 100%;
    /* Full width */
    max-width: 40000px;
    height: 100%;
    /* Full height */
    max-height: 8000px;
    background-image: url("Library.jpg");
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    /* position: fixed;
    right: 30px;
    left: calc(100% - 120px); */
    width: 40%;
    max-width: 1000px;
    height: 40%;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10%;
}

.modal_list {
    /* position: fixed;
    right: 30px;
    left: calc(100% - 120px); */
    width: 40%;
    max-width: 500px;
    height: 40%;
    max-height: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
}

.modal_content2 {
    width: 50%;
    max-width: 2000px;
    height: 90%;
    max-height: 2000px;
    background-color: hsla(0, 0%, 100%, 0.9);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px;
}